* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common classes */
.flex--box{
    display: flex;
    align-items: center;
    justify-content: center;

}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  color: white;
  overflow-x: hidden;
}
.main {
  width: 100%;
  padding: 0rem 0rem 5rem;
  background: linear-gradient(160deg, orange 20%, orangered);
}

header .nav {
    width: 100%;
    height: 5rem;
  padding: 1rem 2rem;
  justify-content: space-between;
}
header nav .list {
  gap: 3.4rem;
  font-weight: bold;
  list-style: none;
  font-size: 1.2rem;
}
header nav .list li {
  transition: 0.3s;
  cursor: pointer;
}
header nav .list li:hover{
  margin-bottom: 0.5rem;
  color: orangered;
}
header nav i {
    cursor: pointer;
  font-size: 1.7rem;
}
.main_container{
    max-width: 1200px;
    position: relative;
    padding: 0rem 0 3rem;
    margin: auto;
}
.main_container .leafe-img {
  width: 250px;
  position: absolute;
}
.cut-orange {
    z-index: 2;
    position: absolute;
    top: -5%;
    border-radius: 100%;
    left: 32%;
}
.main_container .fanta {
    z-index: 4;
    margin-top: 5%;
    position: relative;
    width: 37rem;
}
.main_container .orange-img {
  width: 19rem;
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 5;
}
.main_container .big-leafe {
  position: absolute;
  right: 5%;
  top: -20%;
}
.main_container .img-2 {
  top: 3%;
  left: -2%;
  transform: rotate(100deg);
}
.main_container .img-3 {
  top: 50%;
  left: 12%;
  transform: rotate(50deg);
}
.main_container .img-4 {
  top: 8%;
  left: 50%;
  transform: rotate(110deg);
  border-radius: 50%    ;
}
.main_container .img-5 {
  top: 15%;
  left: 65%;
  transform: rotate(50deg);
  z-index: 1;
}

.benefits {
  padding: 5rem 2rem;
  background-color: orange;
}
.benefits_header {
  flex-direction: column;
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.benefits_header::before {
  content: "";
  position: absolute;
  left: 23rem;
  height: 7rem;
  top: 7px;
  border: 2px solid rgb(255, 255, 255);
}
.benefits_header .benefits_title {
  font-size: 4rem;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.benefits_header .benefits_description {
  font-size: 1.3rem;
}

.benefits_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 3rem auto;
}
.benefits_content {
  padding: 2rem 2rem;
 
  flex-direction: column;
  gap: 1.2rem;
}
.benefits_content .content_btn {
  padding: 1rem 2.5rem;
  border: none;
  margin-top: 1rem;
  background-color: rgb(230, 52, 52);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  width: 12rem;
}

.benefits_container .content_title {
  font-size: 3rem;
}
.benefits_container .content_description {
  font-size: 1.1em;
}

.card_section {
  padding: 5rem 2rem;
  background: linear-gradient(230deg, orangered, orange);
}
.card_section h1 {
    margin-bottom: 9rem;
    font-size: 4rem;
    text-align: center;
}
.card_section .card_container {
    
  max-width:1200px;
  margin: auto;
}
 .card_container .cards_block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.card_section .cards_block div:nth-child(1) {
  background: linear-gradient(white, blue);
}
.card_section .cards_block div:nth-child(2) {
  background: linear-gradient(orange, red);
}
.card_section .cards_block div:nth-child(3) {
  background: linear-gradient(red, black);
}
.card_section .cards_block .card_box {

  padding: 1rem 0rem;
  background-color: rgba(255, 255, 255, 0.765);
  border-radius: 5px;
  position: relative;
  margin: 1rem;
}
.card_section .card_container .card_box img {
  z-index: 2;
  height: 25rem;
}
.card_section .cards_block .card_lemon {
  position: absolute;
  scale: 0.8;
  top: -140px;
}
.footer {
  background: linear-gradient(orangered, black);
  padding: 5rem 2rem;
  background-color: black;
}
.footer .footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.2fr;
  margin: auto;
max-width: 1200px;
}
.footer .footer_box h4 {
  font-size: 1.6rem;
}
.footer .footer_box img {
  max-height: 12rem;
}
.footer .footer_box ul li {
  margin: 0.5rem;
}
.footer .footer_box ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.5s;
}
.footer .footer_box ul li i {
  margin-right: 1rem;
}
.footer .footer_box ul li:hover {
  margin-left: 1rem;
  color: orange;
  cursor: pointer;
}
